$bp-small: 520px;
$bp-large: 992px;

.vertical-center-parent {
  position: relative;
  
  @media screen and (min-width: $bp-large) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.float-right {
  float: right;
}