.grow {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.grow:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.shrink {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.shrink:hover {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.show-sm {
  display: none;
  @media screen and (min-width: $bp-small) {
    display: inline;
    padding: 0 0 !important;
  }
}