.grow { 
  transition: all .4s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.03); 
}

.shrink { 
  transition: all .4s ease-in-out; 
}
.shrink:hover { 
  transform: scale(0.97); 
}

.show-sm {
  display: none;
  @media screen and (min-width: $bp-small) {
    display: inline;
    padding: 0 0 !important;
  }
}