body, html {
  height: 100%;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @media screen and (min-width: $bp-large) {
    height: 100vh;
    padding: 0 100px;
  }
}

.content-container {
  flex: 1;
  margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;

  @media screen and (min-width: $bp-large) {
    display: block;
  }
}

.center-col {
  height: 100%;
}