.header {
  margin-bottom: 20px;
  
  h1 {
    font-family: $heading-font;
    color: $primary-color;
  }

  p {
    font-family: $heading-font;
    color: $secondary-color;
    font-size: $font-size-enhanced;
    font-weight: lighter;
  }
}
