.selected {
  background-color: grey;
}

.collection-header {
  font-size: $font-size-enhanced;
  font-family: $primary-font;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 8px;
  color: white;
  background-color: $primary-color;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width: 100%;
  border: none;

  @media screen and (min-width: 992px) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.not-selected {
  background-color: #EEEEEE;
}

.selected {
  background-color: $secondary-color;
  color: white;

  &:hover {
    background-color: $secondary-color !important;
  }
}


.filterParam {
  font-size: $font-size-medium;
  width: 100%;
  height: 44px;
  padding: 12px 12px 12px 8px;
  border: 1px solid #BFBFBF;

  &::placeholder {
    font-weight: 300;
    height: 44px;
  }
}

.filter-by-genre {
  border-bottom: none;
  border-top: none;
  text-align: left;
  width: 100%;
  font-family: $primary-font;
  font-size: $font-size-medium;
  font-weight: 300;
  cursor: pointer;
  padding: 12px 12px 12px 8px;
  margin: 0;
  background-color: #c6daf5;

}

.collection {
  font-family: $primary-font;
  font-size: $font-size-medium;
  font-weight: 300;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
  cursor: pointer;

  button {
    text-align: left;
    width: 100%;
    padding: 8px 16px 8px 16px;
    margin: 0;
    border: none;

    &:hover {
      background-color: #BABABA;
    }
  }
}

.react-slidedown {
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.rounded-bottom-border {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

