.ref-container {
  font-family: $primary-font;
  font-size: $font-size-medium;
  font-weight: 300;

  height: 100%;
  overflow-y: auto;
  margin-top: 1px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #858e99;
    border-radius: 20px;
  }
  
  &::-webkit-scrollbar-track {
    background: #E7E7E7;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 12px;
  }
}

.ref-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;

  li {
    line-height: 26px;
    padding: 0 0 12px 0;
  }
}

.ref-title {
  font-size: $font-size-enhanced;
  font-weight: 600;
}

.book {
  color: $primary-color;
  font-weight: 300;  
}

.listen-button {
  background-color: white;
  border-radius: 18px;
  color: #4BC36E;

  border: none;

  &:hover {
    color: #2FD565;
  }
}

.no-results {
  font-weight: lighter;
  text-align: center;
  padding: 24px;
  
  @media screen and (min-width: $bp-large) {
    margin-top: 20%;
    padding: 0;
  }
}

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .2s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .2s ease-in .2s;
}

.fade-wait-height {
  transition: height .2s ease-in-out;
}