.spotify-container {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  justify-content: center;
  height: 100px;

  @media screen and (min-width: $bp-large) {
    flex-direction: row;
    align-items: center;
  }
  
  @media screen and (min-width: $bp-large) {
    width: 100%;
  }
}

.create-playlist {
  border-radius: 500px;
  display: inline-block;
  background-color: #2EBD59;
  color: white;
  line-height: 21px;
  border: none;
  text-transform: uppercase;
  font-family: $primary-font;
  height: 80px;
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  font-size: 18px;
  z-index: 2;
  opacity: 0.9;
  position: absolute;

  width: 10%;    
  
  &:hover {
    background-color: #2FD565;
  }

  @media screen and (min-width: $bp-small) {
  font-size: 27px;   
  }


  @media screen and (min-width: $bp-large) {
    padding: 0 15px;
    left: 15px;  
    width: 14%;   
    font-size: 23px;     
  }
}

.button-container {
  width: 100%;
  text-align: center;
}

.spotify-player {
  z-index: 1;  
  margin: 18px auto;
  height: 80px;
  margin: 0 auto;
  border: 0;
  position: absolute;
  left: 9.8%;
  width: 90%;  

  @media screen and (min-width: $bp-large) {
    left: 17.7%;
    width: 82.3%;    
  }  
  
  @media screen and (min-width: $bp-large) {

  }


}

.spotify-player-placeholder {
  @extend .spotify-player;

  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-medium;
  font-family: $primary-font;
  border: solid 1px #a0a0a0;
}



// Credit to Daniel Morosan for the animated loading dot effect
// https://codepen.io/danielmorosan/pen/XmYBVx
.spinner {
  div {
    width: 10px;
    height: 10px;
    margin: 0 2px;
    background-color: $spotify-green;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}