.collection-container {
  height: auto;
  overflow-y: auto;
  margin-bottom: 16px;

  @media screen and (min-width: 992px) {
    margin-bottom: 0;
    height: 100%;
  }
}

.collection-container::-webkit-scrollbar {
  width: 5px;
}

.collection-container::-webkit-scrollbar-thumb {
  background: #858e99;
  border-radius: 20px;
}

.collection-container::-webkit-scrollbar-track {
  background: #E7E7E7;
}
