.selected {
  background-color: grey;
}

.notSelected {
  background-color: #F5F5F5;
}

.selected {
  background-color: #BABABA;
}

.list {
  font-family: $primary-font;
  font-size: $font-size-medium;
  font-weight: 300;
  list-style-type: none;
  padding: 0 0 0 0;
  margin: 0 auto 0 auto;
  cursor: pointer;

  li {
    padding: 8px;

    &:hover {
      background-color: $secondary-color;
    }

  }
}
