
.ref-title {
  font-size: $font-size-enhanced;
  font-weight: 400;
}

.ref-list {
  list-style-type: none;
  padding-left: 0;
}

.ref-container {
  font-family: $primary-font;
  font-size: $font-size-medium;
  font-weight: 300;
  padding: 12px;
  overflow-y: scroll;
  height: 100%;
}