
.ref-title {
  font-size: $font-size-enhanced;
  font-weight: 600;
}

.ref-list {
  list-style-type: none;
  padding-left: 0;

  li {
    line-height: 26px;
    padding: 0 0 12px 0;
  }
}

.ref-container {
  font-family: $primary-font;
  font-size: $font-size-medium;
  font-weight: 300;
  padding: 0 32px;
  height: 100%;
  overflow-y: scroll;
  margin-top: 1px;

  @media screen and (min-width: 1200px) {
    padding: 0 64px;
  }
}

.ref-container::-webkit-scrollbar {
  width: 5px;
}

.ref-container::-webkit-scrollbar-thumb {
  background: #858e99;
  border-radius: 20px;
}

.ref-container::-webkit-scrollbar-track {
  background: #E7E7E7;
}